<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      About Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="secondary">
      <ion-title size="large">About Us</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-header>
     <ion-toolbar color="tertiary">
       <ion-title size="Large"><ion-text color="dark">  Govoyage</ion-text> </ion-title>
     </ion-toolbar>
   </ion-header>
   <div class="hello">
    
     
    <ion-card color="tertiary">
      <ion-card-header>
        <ion-card-subtitle>
          <ion-text color="dark">“Travel is the main thing you purchase that makes you more extravagant”.
          We, at ‘Govoyage’, swear by this and put stock in satisfying travel dreams that make you perpetually rich constantly.
           We have been moving excellent encounters for a considerable length of time through our cutting edge planned occasion bundles and other fundamental travel administrations.
            We rouse our clients to carry on with a rich life, brimming with extraordinary travel encounters.
         
         Through our exceptionally curated trip planners, we need to take you on an adventure where you personally enjoy with the stunning magnificence of Goa. 
         We need you to observe sensational scenes that are a long ways past your creative ability.
        </ion-text>
      </ion-card-subtitle>
      </ion-card-header>
    </ion-card>
      
</div>
<br>
<br>
<br>
   <ion-toolbar color="tertiary">
       <ion-title size="medium">  <ion-text color="dark"> Contact us: <br> govoyagesih@gmail.com </ion-text> </ion-title> </ion-toolbar>
  
</ion-content>