<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>
      Events
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
   <ion-header>
    <ion-toolbar color="success">
      <ion-title size="medium"> Events </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="horizontal-cards">

    <ion-card color="success" *ngFor=" let image of event">
      <ion-img [src]="image.url"></ion-img>
      <ion-card-header>
       
        <ion-card-subtitle>{{image.name}}</ion-card-subtitle>
      </ion-card-header>
      
    </ion-card>
  </div>
</ion-content>