Customize your schedule by our suggestions <ion-header color="dark">
  <ion-toolbar>
    <ion-title color="warning">
      TRIP PLANNER
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-item color="dark" >
  <ion-label color="warning">
    Day 1- Arriving(Hotels) 
  </ion-label>
</ion-item>
<li>Double tree by Hilton Goa</li>
<li>Grand Hyatt Goa</li>
<li>Bambolim Beach Resort</li>
<li>Casa Menezes</li>
<li>Hotel Travellers Inn</li>
<li>Casa Britona</li>
<li>The Fern Kadamba</li>
  <ion-item color="dark" >
  <ion-label color="warning">
    Day 1- North Goa Beaches Sightseeing
  </ion-label>
</ion-item  >
<li>Baga Beach</li>
<li>Calangute Beach</li>
<li>Sinquerium Beach</li>
<li>Vagator Beach</li>
<li>Arjuna Beach</li>

<ion-item color="dark" >
  <ion-label color="warning">
   Day 2- North Goa Monuments
  </ion-label>
</ion-item>
<li>Azad Midan</li>
<li>Basilica of Bom Jesus</li>
<li>The Se Cathedral</li>
<li>Aguada Fort </li>
<li>Church of St. Cajetan</li>
<ion-item color="dark" >
  <ion-label color="warning">
    Day 3- South Goa Sightseeing
  </ion-label>
</ion-item>
<li>Colva Beach</li>
<li>Palolem Beach</li>
<li>Benaulim Beach</li>
<li>Pandavas Caves</li>
<li>Cabo de Rama Fort</li>
<li>Polem Beach</li>
<ion-item color="dark">
  <ion-label color="warning">
    Day 4- Temples to visit
  </ion-label>
</ion-item>
<li>Shree Shantadurga Temple at Kavlem</li>
 <li>Shree Manguesh Temple at Priol</li>
<li>Shiva Temple at Goa Velha</li>
<li>shree Saptakoteshwar Temple at Maem</li>
<li>Maruti Temple at Panaji</li>
<li>Shree Nagesh Maharuda Mandir at Ponda</li>
<li>Shree mahalakshmi Temple at Panaji</li>
<li>Shree Ramnath Mandir at Ponda </li>
<ion-item color="dark" >
  <ion-label color="warning">
    Night life in Goa
  </ion-label>
</ion-item >
<li>Club Tito's Goa</li>
<li>Club Cubana</li>
<li>LKP Waterfront Club</li>
<li>SinQ Night Club</li>
<li>Curlies Beach Shack</li>
<li>Britto's Beachside bar</li>
<li>Deltin Royale Casino</li>
<li>Offshore Casino</li>
</ion-content>