<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      Plan Your Trip
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item color="tertiary">
    <ion-label><ion-text color="dark">Price</ion-text></ion-label>
    <ion-select value="price">
      <ion-select-option value="1000">1000</ion-select-option>
      <ion-select-option value="2000">2000</ion-select-option>
      <ion-select-option value="3000">3000</ion-select-option>
      <ion-select-option value="4000">4000</ion-select-option>
      <ion-select-option value="5000">5000</ion-select-option>
      <ion-select-option value="6000">6000</ion-select-option>
      <ion-select-option value="7000">7000</ion-select-option>
      <ion-select-option value="8000">8000</ion-select-option>
      <ion-select-option value="9000">9000</ion-select-option>
      <ion-select-option value="10000">10000</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item color="tertiary">
    <ion-label><ion-text color="dark">Age</ion-text></ion-label>
    <ion-select value="age">
      <ion-select-option value="kids">Kids</ion-select-option>
      <ion-select-option value="agebelow18"><18</ion-select-option>
      <ion-select-option value="ageabove18">>18</ion-select-option>
      <ion-select-option value="age30-50">30-50</ion-select-option>
      <ion-select-option value="ageabove60">60+</ion-select-option>
  

    </ion-select>
  </ion-item>
  <ion-item color="tertiary">
    <ion-label><ion-text color="dark">Number of Days</ion-text></ion-label>
    <ion-select id="abc" value="days">
      <ion-select-option  value="1">1</ion-select-option>
      <ion-select-option value="2">2</ion-select-option>
      <ion-select-option value="3">3</ion-select-option>
      <ion-select-option value="4">4</ion-select-option>
      <ion-select-option value="5">5</ion-select-option>
      <ion-select-option value="6">6</ion-select-option>
      <ion-select-option value="7">7</ion-select-option>
      <ion-select-option value="8">8</ion-select-option>
      <ion-select-option value="9">9</ion-select-option>
      <ion-select-option value="10">10</ion-select-option>



    </ion-select>
  </ion-item>
  <section>
    <div class="apple">
      <ion-button  expand="block" (click)="plancreate()">Create new plan for me</ion-button>
    </div>
  </section>
  
  

  <div   class="horizontal-cards" >
    <div *ngIf="status1" id="cardday1">
    <ion-card   value="100"  type="button"  (click)="Day1()" color="primary" >
      <img src="../../assets/img/Beach.jpg">
      <ion-card-header>
        <ion-card-subtitle >Day 1</ion-card-subtitle>
      </ion-card-header>

    </ion-card>
    </div>
    <div *ngIf="status2" id="cardday2">
    <ion-card id="cardday2"  type="button" (click)="Day2()" color="primary">
      <img src="../../assets/img/boat.jpg">
      <ion-card-header>
        <ion-card-subtitle>Day 2</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    </div>
    <div *ngIf="status3" id="cardday3">
    <ion-card id="cardday3"  type="button" (click)="Day3()" color="primary">
      <img src="../../assets/img/lake.jpg">
      <ion-card-header>
        <ion-card-subtitle>Day 3</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    </div>
    <div *ngIf="status4" id="cardday4">
    <ion-card  type="button" (click)="Day4()" color="primary">
      <img src="../../assets/img/path.jpg">
      <ion-card-header>
        <ion-card-subtitle>Day 4</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    </div>
    <div *ngIf="status5" id="cardday5">
    <ion-card  type="button" (click)="Day5()" color="primary">
      <img src="../../assets/img/People.jpg">
      <ion-card-header>
        <ion-card-subtitle>Day5</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    </div>
    <div *ngIf="status6" id="cardday6">
    <ion-card  type="button" (click)="Day6()" color="primary">
      <img src="../../assets/img/scenary.jpg">
      <ion-card-header>
        <ion-card-subtitle>Day 6</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    </div>
    <div *ngIf="status7" id="cardday7">
    <ion-card  type="button" (click)="Day7()" color="primary">
      <img src="../../assets/img/sea.jpg">
      <ion-card-header>
        <ion-card-subtitle>Day 7</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    </div>
    <div *ngIf="status8" id="cardday8">
    <ion-card  type="button" (click)="Day8()" color="primary">
      <img src="../../assets/img/trees.jpg">
      <ion-card-header>
        <ion-card-subtitle>Day 8</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    </div>
    <div *ngIf="status9" id="cardday9">
    <ion-card  type="button" (click)="Day9()" color="primary">
      <img src="../../assets/img/sand.jpg">
      <ion-card-header>
        <ion-card-subtitle>Day 9</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    </div>
    <div *ngIf="status10" id="cardday10">
    <ion-card  type="button" (click)="Day10()" color="primary">
      <img src="../../assets/img/view2.jpg">
      <ion-card-header>
        <ion-card-subtitle>Day 10</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    </div>
 </div>

</ion-content>