<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
      <ion-buttons  slot="start">
          <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
      <ion-title color="light">
          Govoyage
      </ion-title>
   </ion-toolbar>
</ion-header>

<ion-content >
 
  <div *ngIf="status">

    <ion-slides pager="true" [options]="slideOpts" >  
      <ion-slide>  
         <img src="../../assets/img/Basilica-of-Bom-Jesus.jpg"/>  
         
       </ion-slide>  
     
       <ion-slide>  
         <img src="../../assets/img/Calangute-Beach.jpg"/>  
         
       </ion-slide>  
     
       <ion-slide>  
         <img src="../../assets/img/Sinquerim-Beach.jpg"/>  
         
       </ion-slide>  
     
     </ion-slides> 
  
  </div>
  <div class="hello">
    
      <h1>Goa</h1>
      <p> No other destination can compete with the <ion-text color="success">“Pearl of the Orient” 
      </ion-text>in terms of natural beauty and tranquil beaches that collaboratively provide 
      you with an out of the world holiday experience. 
      Frequently known as  <ion-text color="success">“Queen of the Beaches”</ion-text>, Goa is located on the western coast of India, 
      surrounded by Maharashtra in the north, Karnataka in the east and south,
       and the Arabian Sea in the west.
     
  </p>
</div>
<ion-fab horizontal="end" vertical="center" slot="fixed">
  <ion-fab-button  (click)="to()" >
    <ion-icon  name="person-circle-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>

  </ion-content>

<ion-tabs>

  <ion-tab-bar color="light" slot="bottom">
      <ion-tab-button  tab="events" (click)="hide()">
          <ion-icon color="success" name="megaphone-outline"></ion-icon>
          <ion-label color="success">Events</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tab2" (click)="hide()">
        <ion-icon  color="success" name="chatbox-ellipses-outline"></ion-icon>
          <ion-label color="success">Chatbot</ion-label>
      </ion-tab-button>

      <ion-tab-button  tab="nearby" (click)="hide()">
          <ion-icon color="success" name="location-sharp"></ion-icon>
          <ion-label color="success">Nearby</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="help" (click)="hide()">
          <ion-icon color="success" name="chatbubbles-sharp"></ion-icon>
          <ion-label color="success">Help</ion-label>
      </ion-tab-button>

      <ion-tab-button  tab="tips" (click)="hide()">
        <ion-icon color="success" name="bulb"></ion-icon>
          <ion-label color="success">Tips</ion-label>
      </ion-tab-button>

      
  </ion-tab-bar>

</ion-tabs>


